.col {
    text-align: center;
    border: black solid;
    margin: 8px;
    width: 75%;
}
.fila {
    margin: 50px;
}

.nueva {
    font-size: 50px;
    color: red;
}
.conte_form{
    
    margin: 0 20%;
    border: black solid;
    padding: 5%;
    background: rgb(204, 253, 232);
}
.form{
    margin: 5%;
    border: black solid;
    background: rgb(233, 253, 204);
    padding: inherit;
}
.inicio{
    margin: 0 25%;
    padding: 0 5%;
}